.chart-bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 170px;
  width: 35px;
}

.chart-bar__inner {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 120px;
}

.chart-bar__fill {
  width: 35px;
  display: flex;
  justify-content: center;
  background-color: var(--soft-red);
  border-radius: 3px;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.chart-bar__amount {
  position: absolute;
  font-size: 16px;
  font-weight: 700;
  padding: 3px;
  background-color: var(--dark-brown);
  color: var(--very-pale-orange);
  border-radius: 5px;
  margin-top: -30px;
  opacity: 0;

  transition: all 0.2s ease-in-out;
}

.chart-bar__fill:hover .chart-bar__amount {
  display: block;
  opacity: 1;
}

.chart-bar__fill.chart-bar__fill-max {
  background-color: var(--cyan);
}

.chart-bar__fill:hover {
  opacity: 0.8;
}

.chart-day {
  margin-top: 10px;
  font-size: 12px;
}

@media screen and (max-width: 768px) {
  .chart-bar {
    height: 220px;
  }

  .chart-bar__inner {
    height: 220px;
  }
}
