main {
  display: flex;

  justify-content: center;
  width: 100%;
  min-height: 100vh;
  background-color: var(--cream);
}

.app {
  margin: 3rem auto;
  width: 400px;
  height: 400px;
}

@media screen and (max-width: 768px) {
  .app {
    width: 350px;
    height: 450px;
  }
}
